body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Ensure the body takes the full height of the screen */
    background-color: #000;
    color: #fff;
    background-image: url('images/VoidWarsLogo.png'); /* Ensure the path is correct */
    background-size: contain; /* Ensures the image scales to fit */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating the image */
    background-attachment: fixed; /* Keeps the background in place when scrolling */
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: center; 
    color:#45a049

}
h1 {
    text-align: center;
    color:#45a049

}
#about {
    margin-top: 100px; /* Adjust the distance from the top */



}

input, select {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}