:root {
  --color-one: #ffdede;
  --color-two: #ff0b55;
  --color-three: #cf0f47;
  --color-four: #000;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
  animation: backgroundScroll 180s linear infinite;
  background-image: url(images/background.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-color: var(--color-four);
  color: var(--color-one);
}

@keyframes backgroundScroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

/* Header */
header {
  background-color: var(--color-four);
  height: 50px;
  gap: 10%;
}

#menu {
  display: flex;
  gap: 20px;
}

#menu a {
  text-decoration: none;
  font-weight: 600;
}

/* Main */
main {
  min-height: calc(100svh - 130px);
}

/* Footer */
footer {
  animation: backgroundScroll 60s linear infinite;
  background-image: url(images/footer.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  height: 80px;
}

/* Animations */
.color-hover {
  color: var(--color-one);
  text-shadow: 0px 0px var(--color-one);
  scale: 1;
  transition: color ease-in-out 0.5s, text-shadow ease-in-out 0.3s,
    scale ease-in-out 0.5s;
}

.color-hover:hover {
  color: var(--color-two);
  text-shadow: 0px 10px var(--color-four);
  scale: 1.2;
}

.floatingDiv {
  animation: floatingDiv 5s linear infinite;
}

@keyframes floatingDiv {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Typography */

/* Layouts */
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.form {
  gap: 15px;
  margin-bottom: 10px;
  width: 80svw;
}

.form-row {
  min-width: 400px;
  max-width: 100svw;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  color: var(--color-one);
  font-weight: 600;
  font-size: 18px;
}

/* Decorations */
button {
  background-color: var(--color-two);
  border: none;
  color: var(--color-one);
  padding: 15px 40px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: background-color ease-in-out 0.5s, box-shadow ease-in-out 0.3s;
  box-shadow: 5px 5px var(--color-one);
  cursor: pointer;
}

button:hover {
  background-color: var(--color-three);
  box-shadow: 0px 0px var(--color-one);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: var(--color-four);
  margin: 15svh auto;
  padding: 20px;
  border: 10px solid var(--color-two);
  width: 60svw; /* For some reason without this closing the modal from outside click won't work (?) */
  box-shadow: 10px 10px var(--color-one);
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 80vh;
  font-size: 16px;
}

.close {
  color: var(--color-two);
  float: right;
  margin-left: 20px;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-one);
  text-decoration: none;
  cursor: pointer;
}
